html:not(.style-scope)
{
  --ctp-rosewater: #f2d5cf;
  --ctp-flamingo: #eebebe;
  --ctp-pink: #f4b8e4;
  --ctp-mauve: #ca9ee6;
  --ctp-red: #e78284;
  --ctp-maroon: #ea999c;
  --ctp-peach: #ef9f76;
  --ctp-yellow: #e5c890;
  --ctp-green: #a6d189;
  --ctp-teal: #81c8be;
  --ctp-sky: #99d1db;
  --ctp-sapphire: #85c1dc;
  --ctp-blue: #8caaee;
  --ctp-lavender: #babbf1;
  --ctp-text: #c6d0f5;
  --ctp-base: #303446;
  --ctp-mantle: #292c3c;
  --ctp-crust: #232634;

  --ctp-accent: var(--ctp-mauve);

  --unthemed-yet: inherit !important;

  --ytmusic-scrollbar-width: 0px !important;
  --ytd-scrollbar-width: 0px !important;
  scrollbar-width: none !important;

  --theme-icon: url("https://raw.githubusercontent.com/catppuccin/youtubemusic/main/assets/icons/frappe.png");
  --theme-playlist: url("https://raw.githubusercontent.com/catppuccin/youtubemusic/main/assets/icons/frappe-playlist.png");
}

@import url("template.css")
