html:not(.style-scope)
{
  --ctp-rosewater: #dc8a78;
  --ctp-flamingo: #dd7878;
  --ctp-pink: #ea76cb;
  --ctp-mauve: #8839ef;
  --ctp-red: #d20f39;
  --ctp-maroon: #e64553;
  --ctp-peach: #fe640b;
  --ctp-yellow: #df8e1d;
  --ctp-green: #40a02b;
  --ctp-teal: #179299;
  --ctp-sky: #04a5e5;
  --ctp-sapphire: #209fb5;
  --ctp-blue: #1e66f5;
  --ctp-lavender: #7287fd;
  --ctp-text: #4c4f69;
  --ctp-base: #eff1f5;
  --ctp-mantle: #e6e9ef;
  --ctp-crust: #dce0e8;

  --ctp-accent: var(--ctp-mauve);

  --unthemed-yet: inherit !important;

  --ytmusic-scrollbar-width: 0px !important;
  --ytd-scrollbar-width: 0px !important;
  scrollbar-width: none !important;

  --theme-icon: url("https://raw.githubusercontent.com/catppuccin/youtubemusic/main/assets/icons/latte.png");
  --theme-playlist: url("https://raw.githubusercontent.com/catppuccin/youtubemusic/main/assets/icons/latte-playlist.png");
}

@import url("template.css")
